<form [formGroup]="addForm" (ngSubmit)="handleSubmit()">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" formControlName="title" />
        <label for="image" class="form-label">Image</label>
        <input type="text" class="form-control" id="image" formControlName="image" />
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price" />
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkbox" formControlName="isShow">
            <label class="form-check-label" for="checkbox">Show Product</label>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>